.product-listing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
}

.product-listing .product-list-item {
  padding: 1rem;
  width: 260px;
  border: 1.5px solid rgb(209, 203, 203);
  border-radius: 25px;
  margin: 1.5rem;
}

.product-list-item .add-btn {
  margin-top: 15px;
  margin-right: 10px;
  padding: 5px 10px;
  color: white;
  background-color: green;
}

.product-list-item .details-btn {
  margin-top: 15px;
  margin-right: 10px;
  padding: 5px 10px;
  color: white;
  background-color: grey;
}
